body { 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #cccccc;
}

.container {
  background-color: aqua;
  width: 800px;
  height: 100%;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.5);
  justify-content: center;
  
}

.header {
  order: 1;
  align-content: center;
  padding: 7px;
  text-align: center;
  margin: 2%
;}

.content {
  display: flex;
  flex-direction: row;
  order: 2;
  padding: 10px;
  text-align: left;
  background-color: aquamarine;
  justify-content: space-evenly;
  gap: 10px 10px;
}

.question {
  padding: 2px;
  margin-bottom: 15px;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 10px 10px;
}

.box1 {
  order: 1;
  padding: 7px;
  text-align: left;
  background-color:beige;
  justify-content: space-evenly;
}

.box2 {
  order: 2;
  padding: 7px;
  text-align: left;
  background-color:beige;
  justify-content: space-evenly;
}
.box3 {
  order: 3;
  padding: 7px;
  text-align: left;
  background-color:beige;
  justify-content: space-evenly;
}
.box4 {
  order: 4;
  padding: 7px;
  text-align: left;
  background-color:beige;
  justify-content: space-evenly;
}

.box5 {
  order: 5;
  padding: 7px;
  text-align: left;
  background-color:beige;
  justify-content: space-evenly;
}

.box6 {
  order: 6;
  padding: 7px;
  text-align: left;
  background-color:beige;
  justify-content: space-evenly;
}

.submit {
  order: 7;
  padding: 7px;
  text-align: center;
  background-color:beige;
  justify-content: space-evenly;
}
.results {
  order: 3;
  align-content: center;
  padding: 7px;
  text-align: center;
  background-color: azure;
  width: 50%;
;}

.hidden { 
  display: none;
}

.img {
  max-width: 30%;
  margin: 10px;
}